pathlib2==2.3.5
glob2==0.7
numpy>=1.18.5
pandas>=1.1.2
scikit-image>=0.17.2
opencv-python>=4.4.0.42
tifffile>=2020.10.1
napari[all]==0.4.10
napari-console==0.0.3
napari-plugin-engine==0.1.9
napari-svg==0.1.5
